import axios, { AxiosRequestConfig } from 'axios';

export default class AxiosClient {
  // eslint-disable-next-line class-methods-use-this
  public async request<T = any, E = any>(config: AxiosRequestConfig): Promise<any> {
    config.url = `/api${config.url}`;

    if(config.data && config.data === null) {
      config.data = {};
    }

    try {
      const { data }= await axios.request(config);
      return data;
    } catch (err) {
      console.log(err.response.data);
      throw err;
    }
  }
}

{{#apiConfig.hasDescription}}
/**
{{#apiConfig.description}}
 * {{.}}
{{/apiConfig.description}}
 */
{{/apiConfig.hasDescription}}
export class Api<{{#apiConfig.generic}}{{name}}{{#defaultValue}} = {{.}}{{/defaultValue}},{{/apiConfig.generic}}> extends AxiosClient{
{{#routes}}

  {{#outOfModule}}


  /**
  {{#comments}}
   * {{.}}
  {{/comments}}
   */
  {{name}} = ({{#routeArgs}}{{name}}{{#optional}}?{{/optional}}: {{type}}, {{/routeArgs}}) =>
    this.request<{{returnType}}, {{errorReturnType}}>({...config, url: `{{path}}`, method: "{{method}}" {{#bodyArg}}, data: {{.}}{{/bodyArg}} {{#hasQuery}}, params: query{{/hasQuery}}}),
  {{/outOfModule}}

  {{#combined}}
  {{moduleName}} = {
    {{#routes}}


    /**
    {{#comments}}
     * {{.}}
    {{/comments}}
     */
    {{name}}: ({{#routeArgs}}{{name}}{{#optional}}?{{/optional}}: {{type}}, {{/routeArgs}}) =>
      this.request<{{returnType}}, {{errorReturnType}}>({...config, url: `{{path}}`, method: "{{method}}" {{#bodyArg}}, data: {{.}}{{/bodyArg}} {{#hasQuery}}, params: query{{/hasQuery}}}),
    {{/routes}}
  }
  {{/combined}}
{{/routes}}

}
